* {
  font-family: 'Nanum Gothic', sans-serif;
}
p {
  color: white; text-align: center; width: 50%; margin: auto;
}
h1 {
  color: white; text-align: center; font-size: 30pt;
}
h2{
  color: white; text-align: center;
}
body {
  background-color: #789527;
}
.topnav {
  overflow: hidden;
  margin: auto;
  text-align: center;
}
.topnav a.active {
  background-color: #fcbd1a;
  color: white;
}
.topnav a {
  float: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
.topnav a:hover {
  background-color: #ef9e07;
  color: white;
}
.imgContainer{
  position: relative;
  text-align: center;
  color: white;
}
.text {
  font-size: 60pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 2px #29617c;
}
.imgContainer .hoverImg {
  font-size: 60pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;

}
.imgContainer:hover .hoverImg{
  visibility: visible;
}
.imgContainer:hover .text{
  visibility: hidden;
}

.imgContainer .hoveri {
  width:600pt;
}
.imgContainer:hover .hoveri {
  width:650pt;
}
